/*BEGIN Xbox 360 Controller Styling*/
.controller.custom {
    background: url(https://raw.githubusercontent.com/G-F-D/gamepadviewer-xbox-pink/master/bg.png);
    height: 544px;
    width: 668px;
    /*    margin-left: -332px;
        margin-top: -228px;*/
}

.custom.disconnected {
    background: url(https://gamepadviewer.com/xbox-assets-old/bg-disconnect.png);
}

.custom.disconnected div {
    display: none;
}

.custom .triggers {
    width: 430px;
    height: 76px;
    position: absolute;
    left: 119px;
}

.custom .trigger {
    width: 33px;
    height: 76px;
    background: url(https://gamepadviewer.com/xbox-assets-old/trigger.png);
    opacity: 0;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    background-position: 0 -77px;
}

.custom .bumper {
    width: 119px;
    height: 44px;
    background: url(https://gamepadviewer.com/xbox-assets-old/bumper.png);
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 516px;
    height: 44px;
    left: 76px;
    top: 84px;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .quadrant {
    position: absolute;
    background: url(https://gamepadviewer.com/xbox-assets-old/quadrant.png);
    height: 100px;
    width: 100px;
    top: 165px;
    left: 284px;
    z-index: -1;
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 180px;
    height: 29px;
    top: 200px;
    left: 244px;
}

.custom .back, .custom .start {
    background: url(https://gamepadviewer.com/xbox-assets-old/arrow.png);
    width: 34px;
    height: 29px;
}

.custom .back.pressed, .custom .start.pressed {
    background-position: 0 -30px;
}

.custom .back {
    float: left;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .start {
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 161px;
    height: 160px;
    top: 125px;
    left: 451px
}

.custom .button {
    position: absolute;
    width: 54px;
    height: 54px;
}

.custom .button.a {
    width: 53px;
    height: 53px;
}

.custom .button.y {
    width: 55px;
    height: 54px;
}

.custom .button.pressed {
    background-position: 0 -55px;
    margin-top: 6px;
    opacity: 1;
}

.custom .button.pressed.a {
    background-position: 0 -54px;
}

.custom .button.pressed.y {
    background-position: 0 -56px;
}

.custom .a {
    background: url(https://gamepadviewer.com/xbox-assets-old/a.png);
    top: 108px;
    left: 55px;
}

.custom .b {
    background: url(https://gamepadviewer.com/xbox-assets-old/b.png);
    top: 54px;
    right: 0px;
}

.custom .x {
    background: url(https://gamepadviewer.com/xbox-assets-old/x.png);
    top: 54px;
}

.custom .y {
    background: url(https://gamepadviewer.com/xbox-assets-old/y.png);
    left: 54px;
}

.custom .sticks {
    position: absolute;
    width: 383px;
    height: 208px;
    top: 167px;
    left: 89px;
}

.custom .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/G-F-D/gamepadviewer-xbox-pink/master/stick.png);
    height: 86px;
    width: 86px;
}

.custom .stick.pressed {
    background-position: 0 -87px;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: calc(100% - 86px);
    left: calc(100% - 86px);
}

.custom .dpad {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 273px;
    left: 174px;
}

.custom .face {
    position: absolute;
    font-size: 30px;
    line-height: 0;
    color: white;
    opacity: 0;
    font-family: 'FontAwesome';
}

.custom .face.pressed {
    opacity: 1;
}

.custom .face.up {
    left: 42px;
    top: 20px;
}

.custom .face.up:after {
    content: "\f062";
}

.custom .face.down {
    left: 42px;
    bottom: 20px;
}

.custom .face.down:after {
    content: "\f063";
}

.custom .face.left {
    top: 56px;
    left: 3px;
}

.custom .face.left:after {
    content: "\f060";
}

.custom .face.right {
    top: 56px;
    right: 3px;
}

.custom .face.right:after {
    content: "\f061";
}

.custom.half {
    margin-top: -272px;
}

/*END Xbox 360 Controller Styling*/
